<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>

<span style="font-weight: bold;display: inline-block">你好:</span><h th:text="${username}">name是bigsai(我是离线数据)</h>

<h3>权限测试链接</h3>
<div>
    <p shiro:hasRole="admin">你的角色为超级管理员</p>
    <p shiro:hasRole="test">你的角色为测试账户</p>
    <div>
<!--        <a shiro:hasPermission="user:user" th:href="@{/user/list}">获取用户信息</a>-->
<!--        <a shiro:hasPermission="user:add" th:href="@{/user/add}">新增用户</a>-->
<!--        <a shiro:hasPermission="user:delete" th:href="@{/user/delete}">删除用户</a>-->

        <a  th:href="@{/user/list}">获取用户信息</a>
        <a  th:href="@{/user/add}">新增用户</a>
        <a  th:href="@{/user/delete}">删除用户</a>
    </div>
</div>
<a shiro:hasRole="admin" th:href="@{/online/index}">在线用户管理</a>
<a th:href="@{/logout}">注销</a>

<input type="file" multiple="multiple" accept="image/*" name="image" id="image" onchange="upload(this.files)">
<div style="height: 600px;">
    <img src="" id="preview" height="90%" width="100%" alt="未选择图片">

</div>

</body>

<script>
    $(document).ready(function(){
            console.log('cookie'+document.cookie)
        // 开始写 jQuery 代码...
            $('#test.properties').val('123');


    });

    function upload(f) {
        debugger;
        let file = f[0];
        const extension = file.name.substring(file.name.lastIndexOf('.') + 1)
        console.log('extension:'+extension);
        readFile(file).then(data=>{
            console.log(data)
            $('#preview').attr('src',data);
        });
    }

    // 解析Excel数据为二进制数据流， 写入工具函数utils.js 中方便其他模块使用
    const readFile = file => {
        return new Promise(resolve => {
            let reader = new FileReader()
            //reader.readAsBinaryString(file)
            reader.readAsDataURL(file);
            reader.onload = ev => {
                resolve(ev.target.result)
            }
        })
    }

</script>
</html>