<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[${value}]]</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<p>[[${value}]]</p>
<button onclick="saveSyslog()">提交</button>
<a th:href="@{/user/index}">返回</a>
</body>
<script>
    function saveSyslog() {
        var user = {
            "id":1,
            "username":"张三"
        };

        var jsonJ = {
            "aaa":"bbb",
            "ccc":11
        }//json格式的js对象
        console.log(jsonJ.aaa+''+jsonJ.ccc)

        $.ajax({
            url:"/web/user/saveSysLog",
            type:"post",
            data:JSON.stringify(user),
            contentType:"application/json;charset=UTF-8",
            dataType:"json",
            success:function(data){
                debugger
                console.log(data.id)
            },
            error:function (err) {
                debugger
                console.log(data)
            }
        });
    }
</script>
</html>